<section id="about" class="about">
  <div class="container">
    <div class="section-title">
      <h2>{{ about.About }}</h2>
      <p>
        {{ about.About_text}}

      </p>
    </div>

    <div class="row">
      <div class="col-lg-4" data-aos="fade-right">
        <img src="assets/img/profile-img.jpg" class="img-fluid" alt="" />
      </div>
      <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
        <h3> Full Stack Developer.</h3>
        <p class="fst-italic">
        En software, bello y elegante significa fácil y barato de evolucionar y mantener
        </p>
        <div class="row">
          <div class="col-lg-6">
            <ul>
              <li>
                <i class="bi bi-chevron-right"></i>
                <strong>{{ about.Birthday }}:</strong> <span>{{ about._Brithday }}</span>
              </li>
              <li>
                <i class="bi bi-chevron-right"></i>
                <strong>{{ about.Website }}:</strong>
                <span>{{ about._Website }}</span>
              </li>
              <li>
                <i class="bi bi-chevron-right"></i>
                <strong>{{ about.Phone }}:</strong> <span>{{ about._Phone }}</span>
              </li>
              <li>
                <i class="bi bi-chevron-right"></i>
                <strong>{{ about.City }}:</strong> <span>Leon, Guanajuato, Mexico</span>
              </li>
            </ul>
          </div>
          <div class="col-lg-6">
            <ul>
              <li>
                <i class="bi bi-chevron-right"></i>
                <strong>{{ about.Age }}:</strong>
                <span>{{about.AgeCalculo}}</span>
              </li>
              <li>
                <i class="bi bi-chevron-right"></i>
                <strong>Grado:</strong> <span>semi Senior</span>
              </li>
              <li>
                <i class="bi bi-chevron-right"></i>
                <strong>Email:</strong>
                <span>{{ about._mail }}</span>
              </li>
              <li>
                <i class="bi bi-chevron-right"></i>
                <strong>Freelance:</strong> <span>Available</span>
              </li>
            </ul>
          </div>
        </div>
        <p>

        </p>
      </div>
    </div>
  </div>
</section>
