
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>INvitacion</title>
</head>
<body class="h-100">
  <header class="mb-auto">
    <div class="col">
      <h3 class="float-md-start me-auto">Invitación</h3>

      <nav class="nav nav-masthead justify-content-center float-md-end float-lg-end      ">
        <a class="nav-link active" href="#" id="principal-l" data-bs-toggle="pill" data-bs-target="#principal-c"
          role="tab" aria-controls="principal-c" aria-selected="true">Pincipal</a>
        <a class="nav-link" href="#" id="ubicacion-l" data-bs-toggle="pill" data-bs-target="#ubicacion-c" role="tab"
          aria-controls="ubicacion-c" aria-selected="false">Ubicacion </a>
        <a class="nav-link" href="#" id="mesa-l" data-bs-toggle="pill" data-bs-target="#mesa-c" role="tab"
          aria-controls="mesa-c" aria-selected="false">Mesa de regalos </a>
      </nav>
    </div>
  </header>

    <div class="container" >
      <div class="row p-3">
        <div class="col ">
          <div class="col mx-auto text-center">
            <h1>Isabela Monge.</h1>
          </div>

          <div class="col-12 text-center">
            <p class="lead">QUEDAS COORDIARMENTE INVITADO A MI EVENTO DE XV AÑOS.</p>
            <p class="lead">LLEVANDO SE ACABO EL DIA 21 DE JUNIO 2023.</p>
          </div>
        </div>
      </div>

      <div class="row">

        <div class="tab-content" id="v-pills-tabContent">

          <div class="tab-pane fade show active" id="principal-c" role="tabpanel" aria-labelledby="principal-l"
            tabindex="0">
            <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel" >

              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                  aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                  aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                  aria-label="Slide 3"></button>
                  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                  aria-label="Slide 3"></button>
              </div>

              <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                  <img src="assets/img/imginvita/img1.jpg" class="d-block img-fluid" height="auto" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>First slide label</h5>
                    <p>Some representative placeholder content for the first slide.</p>
                  </div>
                </div>

                <div class="carousel-item" >
                  <img src="assets/img/imginvita/img2.jpg" class="d-block img-fluid" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>Second slide label</h5>
                    <p>Some representative placeholder content for the second slide.</p>
                  </div>
                </div>

                <div class="carousel-item">
                  <img src="assets/img/imginvita/img3.jpg" class="d-block img-fluid" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>Third slide label</h5>
                    <p>Some representative placeholder content for the third slide.</p>
                  </div>
                </div>

                <div class="carousel-item">
                  <img src="assets/img/imginvita/img4.jpg" class="d-block img-fluid" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>Third slide label</h5>
                    <p>Some representative placeholder content for the third slide.</p>
                  </div>
                </div>

              </div>

              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">anterior</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">siguiente</span>
              </button>
              
            </div>
          </div>

          <!-- ubicacion -->

          <div class="tab-pane fade show" id="ubicacion-c" role="tabpanel" aria-labelledby="ubicacion-l" tabindex="0" height="100%" height="100%">
              <div class="row">
                <iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3722.1740140812913!2d-101.64431669999999!3d21.1056275!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842bbe4362a00ccf%3A0xd05328a77c059b2c!2sLa%20Quinta%20Maravilla!5e0!3m2!1ses-419!2smx!4v1677725603907!5m2!1ses-419!2smx"
                allowfullscreen height="100%" ></iframe>
              </div>
              <div class="mb-3 col-md-3 col-sm-6 offset-col-md-6 offset-col-sm-6">
                <p><em>Direccion: </em>Blvd. San Pedro 108, San Isidro Nte, 37530 León, Gto.</p>
                <div class="col">
                  <h3><p>La Quinta Maravilla</p></h3>
                </div>
              </div>
          </div>
          <!-- mesa de  regalo -->
          <div class="tab-pane fade show m-0 p-0" id="mesa-c" role="tabpanel" aria-labelledby="mesa-l" tabindex="0">

            <a href="https://admin.mesaderegalos.liverpool.mx/#/configuracion/selecciona-tema" target="_blank"
              rel="noopener noreferrer">mi mesa de regalos</a>

          </div>
        </div>
      </div>
    </div>
  </body>
  <footer class="">
    <div class="text-center">

      <p>LOS ESPERAMOS!!!</p>
    </div>
  </footer>
</html>
<!-- <!doctype html>
<html lang="es" class="h-100">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Hugo 0.84.0">
  <title>Cumpleaños Isabella</title>

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bootstrap Site</title>
</head>

<body>


  <div class="col text-center">

    <div class=" col-12 text-center">
      <h1>Isabela Monge.</h1>
    </div>

    <div class="col-12 text-center">
      <p class="lead">QUEDAS COORDIARMENTE INVITADO A MI EVENTO DE XV AÑOS.</p>
      <p class="lead">LLEVANDO SE ACABO EL DIA 21 DE JUNIO 2023.</p>
    </div>
  </div>

  <main class="col px-3">




  </main>

  <footer class="mt-auto text-white-50">
    <p>Los esperamos.</p>
  </footer>
</body>

</html> -->
