<section id="resume" class="resume">
      <div class="container">
        <div class="section-title">
          <h2>{{ Resume }}</h2>
          <p>
            Magnam dolores commodi suscipit. Necessitatibus eius consequatur
            ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam
            quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.
            Quia fugiat sit in iste officiis commodi quidem hic quas.
          </p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Resumen</h3>
            <div class="resume-item pb-0">
              <h4>Jose Antonio</h4>
              <p>
                <em>Desarrollador web "Full stack Development</em>
              </p>
              <ul>
                <li>León Guanajuato</li>
                <li>9513506272</li>
                <li>joseramirez.jr2303@gmail.com</li>
              </ul>
            </div>

            <h3 class="resume-title">Educación </h3>
            <div class="resume-item">
              <h4>Ing. Tecnologías de la información y comunicación con especialidad en tecnologías móviles</h4>
              <h5>2010 - 2016</h5>
              <p><em>Instituto tecnológico del valle de Oaxaca</em></p>
              <p>
                competencia para analizar, diseñar e implementar soluciones de software y de sistemas de telecomunicaciones,
                a través de la aplicación de lenguajes de programación, bases de datos, diseño de interfaces, circuitos electrónicos,
                redes de computadoras, enlaces de telecomunicaciones, utilizando metodologías y estándares, observando aspectos legales,
                éticos, sociales y de desarrollo sustentable.
              </p>
            </div>
            <div class="resume-item">
              <h4>Profesional Técnico-bachiller en informática</h4>
              <h5>2006 - 2009</h5>
              <p><em>Colegio Nacional de educación publica profesional</em></p>
              <p>
                Dar mantenimiento a software y/o Tecnologías de Información y Comunicación (TIC) y asistencia a usuarios,
                aplicando estándares y mejores prácticas en soporte técnico para conservar la disponibilidad y desempeño de dichos recursos.
              </p>
            </div>
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Senior graphic design specialist</h4>
              <h5>2019 - Present</h5>
              <p><em>Experion, New York, NY </em></p>
              <ul>
                <li>
                  Lead in the design, development, and implementation of the
                  graphic, layout, and production communication materials
                </li>
                <li>
                  Delegate tasks to the 7 members of the design team and
                  provide counsel on all aspects of the project.
                </li>
                <li>
                  Supervise the assessment of all graphic materials in order
                  to ensure quality and accuracy of the design
                </li>
                <li>
                  Oversee the efficient use of production project budgets
                  ranging from $2,000 - $25,000
                </li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Graphic design specialist</h4>
              <h5>2017 - 2018</h5>
              <p><em>Stepping Stone Advertising, New York, NY</em></p>
              <ul>
                <li>
                  Developed numerous marketing programs (logos,
                  brochures,infographics, presentations, and advertisements).
                </li>
                <li>
                  Managed up to 5 projects or tasks at a given time while
                  under pressure
                </li>
                <li>
                  Recommended and consulted with clients on the most
                  appropriate graphic design
                </li>
                <li>
                  Created 4+ design presentations and proposals a month for
                  clients and account managers
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
